:root {
    --grey-900: #111010;
    --grey-800: #3d3f42;
    --grey-700: #7d7f81;
    --grey-600: #a9aaab;
    --grey-500: #bebfc0;
    --grey-400: #d4d4d5;
    --grey-300: #e9eaea;
    --grey-200: #f2f2f2;
    --grey-100: #f9f9fa;

    --blue-900: #1C264B;
    --blue-600: #3857c2;
    --blue-500: #5f7bde;
    --blue-400: #768ee0;
    --blue-300: #8499e1;
    --blue-200: #a8b9f1;

    --green-500: #6bebac;
    --green-200: #d6ea5a;

    --orange-500: #ee9f74;
    --orange-200: #facca1;

    --yellow-500: #f8fa73;
}

[theme="light"],
:root {
    --background-color: #fff9ee;
    --text-base-color: var(--grey-900);
    --border-500: #e9eaea;

    --accent-01: blue-500;

    --name-title-background: black;
    --name-title-background--hover: black;
}

[theme="dark"],
:root {
    --background-color: #21252b;
    --text-base-color: #b6b6b6;

    --accent-01: #d866cd;

    --name-title-background: white;
    --name-title-background--hover: white;
}
