:root {
    --grey-900: #111010;
    --grey-800: #3d3f42;
    --grey-700: #7d7f81;
    --grey-600: #a9aaab;
    --grey-500: #bebfc0;
    --grey-400: #d4d4d5;
    --grey-300: #e9eaea;
    --grey-200: #f2f2f2;
    --grey-100: #f9f9fa;

    --neon-green-500: #00e100;

    --neon-pink-500: #ff00db;
    --neon-pink-100: #ffe5fb;

    // brands
    --aclu-blue-lightest: #d5f2f7;
    --aclu-blue-light: #A3DAE2;
    --aclu-blue: #175FAF;
    --aclu-blue-dark: #130F54;

    // theme colors
    --blue-500: #1C264B;
    --blue-400: #4B80F3;
    --blue-300: #B1EEF9;
    --neon-green-300: #E5FD83;
    --bright-yellow-300: #F7FA65;
    --pink-500: #D866CD;
    --orange-300: #EE9F74;
    --purple-300: #BA84D0;
    --purple-blue-300: #768EE0;
    --purple-blue-400: #5B6DAA;
    --yellow-300: #F2E59C#
}

[theme="light"],
:root {
    --background-color: #FFF9EE;
    --text-base-color: black;

    --border-500: #e9eaea;

    --accent-01: blue-500;

    --name-title-background: black;
    --name-title-background--hover: black;
}

[theme="dark"],
:root {
    --background-color: #21252b;
    --text-base-color: #b6b6b6;

    --accent-01: #D866CD;

    --name-title-background: white;
    --name-title-background--hover: white;
}
